<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New entry</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>New user</h1>

    <p>Enter you name and email friend</p>
    <form method="post" action="/register">

        <!--  nombre | apellido | area | usuario | contrasena | tipo_usuario -->

        <input type="text" name="fnombre" placeholder="Nombre" autocomplete="off">
        <input type="text" name="fapellido" placeholder="Apellido" autocomplete="off">
        <input type="text" name="farea" placeholder="Area" autocomplete="off">
        <input type="text" name="fusuario" placeholder="Usuario" autocomplete="off">
        <input type="text" name="fcontrasena" placeholder="Contraseña" autocomplete="off">
        <input type="text" name="ftipodeusuario" placeholder="Tipo de usuario" autocomplete="off">
        <button>Join now</button>

    </form>
    
    <p>We are now <strong> <%= usuarios %> </strong></p>

</body>
</html>



