
<div class="container mt-4" id="lista-pedidos">
    
    <div class="col-md-12"> 
        <h2>Lista de Pedidos</h2>
    </div>

    <div class="col-md-12">&nbsp; </div>

    <div class="col-md-3">

        <select class="form-select" name="nb_estatus" id="lista_pedidos_combo" >
            <option value="Pendiente" selected>Pendiente</option>
            <option value="Cancelado">Cancelado</option>
            <option value="Completado">Completado</option>
        </select>
    </div>

    <div class="col-md-9"></div>

    <div class="col-md-12">&nbsp; </div>


    <div class="col-md-12">
        <div id="tabla-lista-pedidos"></div>
    </div>

    <div class="col-md-12">
        <p id="id_pedido_seleccionado"></p>
    </div>

    <div class="col-md-12">&nbsp; </div>

    <div class="col-md-12"> 
        <h3>Productos asociados</h3>
    </div>
    
    <div class="col-md-12">&nbsp; </div>

    <div class="col-md-12">
        <div id="tabla-lista-prodpedidos"></div>
    </div>

</div>
