<%- include('partials/header') %>

<div class="container">
    <main>
        <div class="py-4 text-center">
            <img class="d-block mx-auto mb-4" src="img/logo.jpeg" alt="" width="72" height="57">
            <h2>Login</h2>
        </div>
        
        <div class="row g-5"> 
            <div class="col-md-4 col-lg-4"></div>
            <div class="col-md-4 col-lg-4"> 

                <form id="form-login" action="/login" method="POST">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" name="cd_usuario" required>
                        <label for="floatingInput">Usuario</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" name ="cd_contrasena" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a href="/register" role="button" class="btn btn-secondary">Registro</a>
                    
                </form>
                
            </div>
            <div class="col-md-4 col-lg-4"></div>
        </div>
    </main>
</div>

<%- include('partials/footer2') %>