


<!-- <div id="example-table"></div> -->
<div>Administración de los materiales</div>

<a href="#" role="button" class="btn btn-outline-secondary" id="materiales-nuevo"><i class="bi bi-plus-square-dotted"></i></a>


<div id="tabla-materiales"></div>
<div id="tabla-materiales-lower-label">Selected: </div>









