


<!-- <div id="example-table"></div> -->
<div>Administración de los materiales</div>


<a href="#" id="materiales-nuevo" >
    <span class="material-icons">
        add_circle_outline
    </span>
</a>


<div id="tabla-materiales"></div>
<div id="tabla-materiales-lower-label">Selected: </div>









