


<div class="container mt-4">
  <div class="row">

    <div class="col-4">
      <div class="card">
        <div class="avatar-ctn">
          <img src="/img/avatar.png" class="avatar" alt="user">
        </div>

        <div class="card-body">
          <h5 class="card-title"><%= usuario.nb_usuario %></h5>
          <p class="card-text">Some text here</p>
          <a href="#" class="btn btn-primary"><%= usuario.cd_email %></a>
        </div>

      </div>
    </div>
    
    <div class="col-8">
      <div class="card text-center">
        <div class="card-header">
          Profile Page
        </div>
        <div class="card-body">
          <h5 class="card-title">Hey <%= usuario.nb_usuario %>, welcome back</h5>
          <p class="card-text">This is your profile page where you can add info about yourself</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          Grupogamex
        </div>
      </div>
    </div>

  </div>
</div>

