
<%- include('partials/header') %>

<div class="container">
    <main>
        <!--  nombre | apellido | area | usuario | contrasena | tipo_usuario -->
        <div class="py-4 text-center">
            <img class="d-block mx-auto mb-4" src="img/logo.jpeg" alt="" width="72" height="57">
            <h2>Nuevo usuario</h2>
        </div>
        
        <div class="row g-5"> 
            <div class="col-md-4 col-lg-4"></div>
            <div class="col-md-4 col-lg-4"> 
                <form id="form-registro"  method="post" action="/register" >
                    <div class="mb-3"> 
                        <input type="text" class="form-control" name="nb_usuario" placeholder="Nombre" autocomplete="off" required>
                    </div>
                    <div class="mb-3"> 
                        <input type="text" class="form-control" name="nb_area" placeholder="Area" autocomplete="off" required>
                    </div>
                    <div class="mb-3"> 
                        <input type="text" class="form-control" name="cd_usuario" placeholder="Usuario" autocomplete="off" required>
                    </div>
                    <div class="mb-3"> 
                        <input type="email" class="form-control" name="cd_email" placeholder="e-mail" autocomplete="off" required>
                    </div>
                    <div class="mb-3"> 
                        <input type="password" class="form-control" name="cd_contrasena" placeholder="Password" autocomplete="off" required>
                    </div>
                    <div class="mb-3"> 
                        <input type="password" class="form-control" name="cd_contrasena_confirm" placeholder="Confirm Password" autocomplete="off" required>
                    </div>
                    <div class="mb-3"> 
                        <select class="form-select" name="tp_usuario" aria-label="Default select example" aria-placeholder="Type of user" required>
                            <option selected></option>
                            <option value="Admin">Admin</option>
                            <option value="Compras">Compras</option>
                            <option value="Almacén">Almacén</option>
                        </select>
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Enviar alta</button>
                    <a href="/" role="button" class="btn btn-secondary">Login</a>
                    
                </form>
                
            </div>
            <div class="col-md-4 col-lg-4"></div>


            <% if (valor === 0) { %>
                <h4 class="alert alert-danger mt-4"> <%= mensaje %> </h4>
            <% } %>

        </div>
    </main>
</div>

<%- include('partials/footer2') %>
    





