
<div>
    <p>Administración de usuarios</p>
    
    <button id="boton">nuevo</button>
    <button id="boton">eliminar</button>
    <button id="boton">update</button>

    <div id="tabla-usuarios"></div>
</div>



